*.log*
*.o
*.pb.h
*.swp
log
*.orig
.bzr
.bzrignore
bin/ssl-autonomous-refbox
ssl-refbox/tags
ssl-refbox/ssl-refbox.pro
ssl-refbox/moc_*
ssl-refbox/Makefile
ssl-refbox/ui_GuiControls.h
ConfigFile/example
ConfigFile/tester
*.pb.h
*.pb.cc
logs

/doc
